html, body {
    margin:0;
    padding:0;
    overflow: hidden;
}

.container {}
.splash .jumbotron{
    margin-top: 50px;
}

.debug {
    overflow-y: scroll;
    background: #DDD;
}

.game-container {

    background: #555;
}
.game-container .score-board{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 400px;
    padding: 20px;
    background: black;
}

.game-container .score-board div {
    font-weight: bold;
    font-size: 24px;
    color: white;
}
